<div>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div class="align-content-center">
                                <MudProgressCircular Color="Color.Info" Style="align-content:center" Indeterminate="true" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>