<MudAppBar Fixed="false" Bottom="true" Dense="true" Style="position: fixed; bottom: 0; left: 0; right: 0; background-color:#0D47A1">
    <MudGrid>
        <MudItem xs="4">
            <MudText Align="Align.Left" Typo="Typo.body1">Контактная информация:</MudText>
        </MudItem>
        <MudItem xs="4">
            <MudText Align="Align.Left" Typo="Typo.body2">Телефон: +7 (960) 795-75-23</MudText>
            <MudText Align="Align.Left" Typo="Typo.body2">Телефон: +7 (961) 872-27-51</MudText>
        </MudItem>
        <MudItem xs="4">
            <MudText Align="Align.Left" Typo="Typo.body2">Email: tpa@tparf.ru</MudText>
        </MudItem>
    </MudGrid>
</MudAppBar>
@*
<footer style="background-color: #333; color: white; padding: 20px;position: sticky; bottom: 0; left: 0; right: 0;">
    <div style="text-align: center;">
        <p>Контактная информация:</p>
        <p>Телефон: +7 (123) 456-7890</p>
        <p>Email: info@example.com</p>
        <p>Адрес: ул. Примерная, д. 123, офис 456</p>
    </div>
</footer>*@

@*<MudContainer Style="position: fixed; bottom: 0; left: 0; right: 0;">
        <MudGrid>
            <MudItem xs="12" sm="6">
                <div class="text-center">
                    <h3>Контактная информация</h3>
                    <p>Телефон: +7 (123) 456-7890</p>
                    <p>Email: example@example.com</p>
                    <p>Адрес: ул. Примерная, д. 123</p>
                </div>
            </MudItem>
            <MudItem xs="12" sm="6">
                <!-- Дополнительный контент или ссылки -->
            </MudItem>
        </MudGrid>
    </MudContainer>*@

@code {

}
