@inherits DisplayCategoriesBase

<MudGrid Class="d-flex flex-wrap">
    @foreach (var category in categories)
    {
        
            string link = "/category/" + category.Id;
            <MudItem md="4" sm="6" lg="3" xl="3" xxl="3">
                <div>
                    <MudCard Style="width:250px;" Square="true">
                        <MudNavLink Href="@link" Class="justify-center">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Align=@Align.Center Color="Color.Dark" Typo="Typo.body1">@category.Name</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <div class="justify-center">
                                @if (category.ImageUrl == null || category.ImageUrl == "string" || category.ImageUrl == "")
                                {
                                    <MudCardMedia Image="https://elitas.ru/images/no-image-large.jpg" Height="200" Style="width:180;" />
                                }
                                else
                                {
                                    <MudCardMedia Image="@category.ImageUrl" Height="200" Style="width:180;" />
                                }
                            </div>

                            @*<MudCardContent>

                @foreach (var product in products)
                {
                @if (product.CategoryId == category.Id)
                {
                productCount++;
                }
                }
                <MudText Align=@Align.Center Color="Color.Dark" Typo="Typo.body1">@productCount товаров</MudText>
                </MudCardContent>*@
                        </MudNavLink>
                    </MudCard>
                </div>
            </MudItem>




    }
</MudGrid>

